<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Temp\Kursovaya2Kurs.v02\Data\Kursach2Data.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>